* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: #f7f7f5cc;
  column-gap: 24px;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  gap: 24px;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.menu-button {
  display: none;
}

.paragraph {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 16px 31px;
}

.paragraph h4 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d1d1f;
}

@media screen and (max-width: 950px) {
  .navigation {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .search-button {
    margin-left: auto;
  }

  .pictures {
    background-image: url(./images/Figure.png);
    height: 650px;
  }

  .pictures2 {
    background-image: url(./images/iphone\ 950.png);
    height: 650px;
  }

  .paragraph {
  }
}

.pictures {
  background-image: url(./images/Background.png);
  background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  background-position: center;
  padding-block: 55px 36px;
  height: 692px;
  margin-bottom: 12px;
}

.mini-fix {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 52px;
  justify-content: center;
  align-items: center;
  color: #f5f5f7;
  font-weight: 600;
}

.mini-fix2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #f5f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 16px 20px;
}

.button-style {
  width: 123px;
  height: 44px;
  border-radius: 999px;
  color: white;
  background-color: #0071e3;
}

.button-style2 {
  width: 68px;
  height: 44px;
  border-radius: 999px;
  border: 1px;
  color: #2997ff;
}

.button {
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.pictures2 {
  background-image: url(./images/iphone2.png);
  background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  background-position: center;
  padding-block: 55px 36px;
  height: 692px;
  margin-bottom: 12px;
}

.pictures3 {
  background-image: url(./images/smart.png);
  background-repeat: no-repeat;

  width: 100vw;
  background-size: cover;
  background-position: center;
  padding-block: 55px 36px;
  height: 692px;
  margin-bottom: 12px;
}

.mini-fixx {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 52px;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 600;
}

.mini-fixx2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 16px 20px;
}

.nothing {
  display: flex;
  justify-content: flex-end;
}
