 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 
.header {
    display: flex;
    background-color: #f7f7f5cc;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
  
    top: 0;
    inset-inline: 0;

}

.navigation {
    display: flex;
    gap: 24px;
}

.menu-button {
    display: none;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.paragraph {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 16px 31px;
}
  
.paragraph h4 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1d1d1f;
}

.main-gradient {
    background-image: url(./goo1.png);
    height: 75px;
    width: 100%;
}

.store-container {
    display: flex;
    padding: 80px 140px;
    align-items: center;
    justify-content: space-between;
}

.store-container-header {
    column-gap: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.01px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
}
  
.store-header2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.01px;
    text-align: left;
    text-underline-position: from-font;
    color:#6E6E73
}

.store-manager {
    display: flex;
    column-gap: 16px;
    justify-content: space-between;
}

.store-manage-part1 {
    display: flex;
    row-gap: 16px;
    justify-content: space-between;
}



.store-specific {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: 700;
 line-height: 20px;
 text-align: left;
 text-underline-position: from-font;
 text-decoration-skip-ink: none;
 margin-bottom: 4px;

}

.store-specific2 {
    font-size: 14px;
    font-weight: 500;
    color: #0066cc;
}

.store-manage-part2{
    display: flex;
    column-gap: 16px;
    justify-content: space-between;    
}
